<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="An interactive getting started guide for Brackets.">
    <link rel="stylesheet" href="/static/main.css">

</head>

<body>
    <div>
        <h1>Monitoring</h1>
        <ul id="button">
            <li><a href="/">Inicio</a> </li>
            <li><a href="/monitoreo">Estado del pc</a> </li>
            <li><a href="/descargas">Descargar</a></li>
            <li><a href="/estado">Tus descargas</a></li>
           

        </ul>
    </div>
    <br>
</body>

<body>
    <table>
        <tr>
            <th>N°</th>
            <th>nombre</th>
            <th>progreso</th>
            <th>tiempo estimado</th>
            <th>estado</th>
            <th>velocidad</th>
        </tr>
        {% for row in rows %}
        <tr>
            {% for i in row %}
            <td>{{ i }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>
<body>Upload Time: {{time}}</body>
</html>
